body{
  text-align: center;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  background-color: #393E46;
}
h1{
  font-family: 'Lobster', cursive;
  font-weight: 900;
  font-size: 8rem;
  padding: 50px 0 50px 0;
}
h3{
  font: 2rem;
  padding: 10px 25px;
  font-weight: 600;
}
.copyright{
  color: white;
  padding: 50px 0;
}
.dice{
  padding: 25px 0 50px 0;

}
.btn{
  padding: 10px;
    margin: 25px;
}
